In [1]:
print"hi"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (13199579.py, line 1)

In [2]:
#Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

break=5

SyntaxError: invalid syntax (3424848256.py, line 3)

In [3]:
#Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

birth_year=2003
current_year=2023
age=current_year-birth_year

In [4]:
age

20

In [5]:
#Store your first, middle and last name in three different variables and then print your full name using these variables
first_name="chaitanya"
middle_name="bharat"
last_name="bhise"
print("MY Full Name: " + first_name + " " + middle_name + " " + last_name)

MY Full Name: chaitanya bharat bhise

In [6]:
_nation=1

In [7]:
_nation

1

In [8]:
1record=2

SyntaxError: invalid decimal literal (2328491922.py, line 1)

In [9]:
record1=3

In [10]:
record1

3

In [11]:
record_one=4

In [12]:
record_one

4

In [13]:
record-one=5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (480213268.py, line 1)

In [14]:
record^one=6

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3166635980.py, line 1)

In [15]:
continue=7

SyntaxError: invalid syntax (3191895663.py, line 1)

In [16]:
print"Thank You"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1005908724.py, line 1)

In [17]:
Thank_You = "Welcome"

In [18]:
Thank_You

'Welcome'

In [19]:
Subscribe="like"

In [20]:
subscribe

NameError: name 'subscribe' is not defined

In [21]:
Subscribe

'like'